* {
  border: 1px solid purple;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: white;
  max-width: 576px;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./assets/iteration-1/home-banner.png");
  background-position: top;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

/* poster-section */
.poster-section {
  padding: 10%;
  text-align: center;
}

.poster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin-bottom: 20rem;
}

.slogan {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 6rem;
  line-height: 6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn {
  font-size: 1.5rem;
  padding: 0.4rem 2.5rem 0.4rem 2.5rem;
  border: 1px;
  border-radius: 1.5rem;
  color: black;
  background: #FDC913;
}

/* END poster-section */

/* description-section */

.description-section{
  display: flex;
  flex-direction: column;
}

/* header-container */
.header-container {
  padding: 0 3rem;
  background: white;
}
.header-container ul {
  padding: 0 5%;
  margin: 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-icon {
  color: black;
  width: 11rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-container.second {
  background: #FAF7F2;
}

.header-container.second li {
  border: 1px;
  border-radius: 2rem;
  padding-left: 1rem;
  background-color: white;
}

.header-container.second li:nth-child(2) {
  background: #292929;
}


.header-container.second ul {
  padding: 0 2%;
}
/* END header-container */

/* siparis-container */

.description-section {
  background: #FAF7F2;
}
.siparis-container {
  margin: 1rem 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

.card {
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-radius: 1rem;
}

.card:nth-child(2) {
  background: #292929;
}

.card:nth-child(3) {
  background: #FAF7F2;
}
.card-item {
  display: inline-block;
}

.card:first-child {
  background-image: url('assets/iteration-2/cta/kart-1.png');
  background-size: cover;
}

.card-item p {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 600;
}

.card-item.first-item p:first-child {
  font-family: 'Quattrocento';
  font-weight: 600;
  line-height: 5rem;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.btn-2 {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px;
  border-radius: 2rem;
  color: red;
  background: white;
}

.card:nth-child(n+1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.img-div.first-item{
  width: 200px;
  height: 200px;
}

.img-div.second-item{
  width: 200px;
  height: 200px;
}

.card-item.second-item p {
  font-size: 2rem;
}

.card.second{
  background-image: url("assets/iteration-2/cta/kart-2.png");
  background-size:60%;
  background-repeat: no-repeat;
  background-position: 80%;
  }

.card.third{
background-image: url("assets/iteration-2/cta/kart-3.png");
background-size:cover;
background-repeat: no-repeat;
background-position: 70%;
}

.card-item.third-item p {
  font-size: 2rem;
}

span {
  color: #CE2829;
}
/* END siparis-container */

.text-container {
  margin: 10%;
  color: black;
  text-align: center;
}

.text-container p {
  margin: 0;
}

.pizza-container {
  margin: 1rem 10%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza-card {
  border: 1px;
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;

}

.pizza-card-item h3 {
  margin: 0;
}

.pizza-container p {
  display: inline;
}
.pizza-item-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.double-item {
  display: flex;
  gap: 3rem;
}

.double-item p:nth-child(2) {
  font-weight: 600;
}

/* ------------------- */


.footer-section {
  background: #292929;
}
.footer-container {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 3rem;
}

.footer-header ul {
  display: contents;
}

.footer-container h1 {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Londrina Solid';
}

.footer-container h3 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.footer-menu ul {
  display: contents;
}

.footer-menu {
  margin-bottom: 3rem;
  line-height: 2rem;
}

.footer-header li {
  max-width: 22rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 0;
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.footer-copyright {
  display: flex;
  width : 100%;
  margin-top: 5rem;
  justify-content: space-between;
  gap: 5rem;
}

img {
  max-width: 100%;
  height: auto;
}
/* END description-section*/



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

